<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>christmas</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="topStrip">
  <div class="topMid">
  <div class="right">
    <ul id="tInfo">
	  <li>This year : </li>
	  <li>25 December, 2012</li>
	  <li><img src="images/fb.png" width="18" height="18" /></li>
	  <li><img src="images/twitter.png" width="16" height="16" /></li>
	  <li>Live Chat</li>
	</ul>
	
	<ul id="nav">
	<li><a href="#">Login</a></li>
	<li><a href="#">Join Free</a></li>
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
	<li><a href="#">Blogs</a></li>
	</ul>
	</div>
  </div>
</div>

<!--header start here-->
<div class="header">
<div class="logo"><a href="#">logo</a></div>
<div class="credential">
   <div class="find">Find</div>
   <div class="findInput"><input type="text" /></div>
   <div class="In">In</div>
   <div class="InInput"><input type="text" /></div>
   <div class="sBtn"><img src="images/sBtn.png" width="63" height="29" /></div>
</div>
<div class="flexi"></div>
</div>

<!--nav start here-->
<div class="nav">
 <ul>
 <li><a href="#" class="first">Celebration</a></li>
 <li><a href="#">Santa Claus</a></li>
 <li><a href="#">Carols &amp; Songs</a></li>
 <li><a href="#">Christmas Tree</a></li>
 <li><a href="#">Yummy Recipes</a></li>
 <li><a href="#">Greetings</a></li>
 <li><a href="#" class="last">Christmas Shop</a></li>
 </ul>
</div>

<!--banner start here-->
<div class="banner"></div>

<!--article section start here-->
<div class="articleSection">
  <div class="articleBlock xmasBg">
    <div class="aTitle">Chritsmas Shopping</div>
	<ul class="xMasGift">
	  <li><a href="#">- FLORISTS</a></li>
	  <li><a href="#">- SWEETS & SNACKS</a></li>
	  <li><a href="#">- FRUITS & NUTS</a></li>
	  <li><a href="#">- CLOTHES</a></li>
	  <li><a href="#">- DECORATION</a></li>
	  <li><a href="#">- JEWELLERY</a></li>
	  <li><a href="#">- LIGHTS & LAMPS</a></li>
	  <li><a href="#">- GROCERY</a></li>
	</ul>
  </div>
  <div class="articleBlock">
    <div class="aTitle size">Chritsmas Events and Parties</div>
	<div class="events hLine">
	   <div class="eInfo">
	   <h1>X-Mas Celebrations</h1>
	     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		 <span><a href="#">more</a></span>
	   </div>
	</div>
	
	<div class="events">
	   <div class="eInfo">
	   <h1>X-Mas Celebrations</h1>
	     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
		 <span><a href="#">more</a></span>
	   </div>
	</div>
	
  </div>
  <div class="articleAdv"><img src="images/articleAdd.png" /></div>
</div>

<!--midcontainer start here-->
<div id="midContainer">
  <div class="midLeft">
     <div class="special">
	   <div class="sBlock">Chritsmas Special</div>
	   <div class="bell"></div>
	     <ul class="specialGifts">
		   <li>
		   <div class="sMid">
		     <h2>Title</h2>
			 <div class="pIcon"></div>
			 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			 <span><a href="#">more</a></span>
			 </div>
		   </li>
		   <li>
		   <div class="sMid">
		     <h2>Title</h2>
			 <div class="pIcon"></div>
			 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			 <span><a href="#">more</a></span>
			 </div>
		   </li>
		   <li>
		   <div class="sMid">
		     <h2>Title</h2>
			 <div class="pIcon"></div>
			 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			 <span><a href="#">more</a></span>
			 </div>
		   </li>
		   <li>
		   <div class="sMid">
		     <h2>Title</h2>
			 <div class="pIcon"></div>
			 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			 <span><a href="#">more</a></span>
			 </div>
		   </li>
		   <li>
		   <div class="sMid">
		     <h2>Title</h2>
			 <div class="pIcon"></div>
			 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			 <span><a href="#">more</a></span>
			 </div>
		   </li>
		   <li>
		   <div class="sMid">
		     <h2>Title</h2>
			 <div class="pIcon"></div>
			 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
			 <span><a href="#">more</a></span>
			 </div>
		   </li>
		 </ul>
		 <div class="flexi"></div> 
	 </div>
	 <div class="bannerA"><img src="images/bannerA.png" width="470" height="62" /></div>
	 <div class="chrisGift">
	   <div class="sBlock">Christmas Gifts<span><a href="#">View more</a></span></div>
	   <div class="bell"></div>
	   <div class="outer">
	      <div class="outerBlock proBorder">
		     <div>
			   <div class="productDetails">
			     <h3>Online gift name</h3>
				 <p>lorem ipsum dolor amit set heading dummy orem ipsum </p>
				 <span>$35.99</span>
			   </div>
			   <div class="productImage"><img src="images/productIcon.jpg" width="73" height="84" /></div>
			    <div class="flexi"></div>
			 </div>
			  <div class="giftBtn">
		      <div class="lable"><img src="images/addTocart.jpg" width="82" height="21" /></div>
			  <div class="lable gap"><img src="images/details.jpg" width="63" height="21" /></div>
		  </div>
		  </div>
		  
		  <div class="outerBlock">
		     <div>
			   <div class="productDetails">
			     <h3>Online gift name</h3>
				 <p>lorem ipsum dolor amit set heading dummy orem ipsum </p>
				 <span>$35.99</span>
			   </div>
			   <div class="productImage"><img src="images/productIcon.jpg" width="73" height="84" /></div>
			   <div class="flexi"></div>
			 </div>
			 <div class="giftBtn">
		      <div class="lable"><img src="images/addTocart.jpg" width="82" height="21" /></div>
			  <div class="lable gap"><img src="images/details.jpg" width="63" height="21" /></div>
		  </div>
		  </div>
	   </div>
	   <div class="shadow"></div>
	   
	   <!--Christmas Tourism start here-->
	   <div class="ChristmasTour">
	     <div class="sBlock">Christmas Gifts<span><a href="#">View more</a></span></div>
		 <div class="chrisDataBlock">
		   <div class="tab">
		     <ul> 
			   <li><a href="#" class="active">Packages</a></li>
			   <li><a href="#">Hotels</a></li>
			   <li><a href="#">Car Rental</a></li>
			 </ul>
		   </div>
		   <div class="tabData">
		     <ul> 
			   <li>
			     <div class="tPic"><img src="images/tourIcon.jpg" /></div>
				 <div class="tData">
				   <h4>Travel Packages</h4>
				   <p>lorem ipsum dolor amit set heading dummy orem ipsum </p>
				   <span><a href="#">Details</a></span>
				 </div>
			   </li>
			   <li>
			     <div class="tPic"><img src="images/tourIcon.jpg" /></div>
				 <div class="tData">
				   <h4>Travel Packages</h4>
				   <p>lorem ipsum dolor amit set heading dummy orem ipsum </p>
				   <span><a href="#">Details</a></span>
				 </div>
			   </li>
			   <li>
			     <div class="tPic"><img src="images/tourIcon.jpg" /></div>
				 <div class="tData">
				   <h4>Travel Packages</h4>
				   <p>lorem ipsum dolor amit set heading dummy orem ipsum </p>
				   <span><a href="#">Details</a></span>
				 </div>
			   </li>
			 </ul>
		   </div>
		 </div>
	   </div>
	   
	   <!--poll and videos-->
	   <div class="pollVideos">
	     <div class="poll">
		   <h5>Poll of the Month</h5>
		   <div class="pollData">
		      <div class="pollMid">
			    <div class="pollLevel">
				<h1>Do you feel the need to reserve your table at a Chirstmas these days?</h1>
				   <p>Yes</p>
				   <div></div>
				   
				   <p>NO</p>
				   <div></div>
				   
				   <p>Can't Say</p>
				   <div></div>
				   
				</div>
				<div class="voteBtn">
				   <img src="images/vote.png" width="60" height="27" />
				</div>
			  </div>
		   </div>
		 </div>
		 <div class="videos">
		    <div class="vLshadow"></div>
			<div class="vMid">
			<div class="vBlock">Christmas Video<span><a href="#">View more</a></span></div>
			<div class="runVideo">
			<ul class="fullVideo">
			  <li><img src="images/videoPlace.jpg" width="316" height="135" /></li>
			</ul>
			
			<ul class="thumbVideo">
			  <li><img src="images/videoThumb.jpg" width="99" height="67" /></li>
			  <li><img src="images/videoThumb.jpg" width="99" height="67" /></li>
			  <li><img src="images/videoThumb.jpg" width="99" height="67" /></li>
			</ul>
			
			</div>
			</div>
			<div class="vRshadow"></div>
		 </div>
		 <div class="flexi"></div>
	   </div>
	 </div>
 </div>
  
  <div class="midRight">
    <div class="hotDeals">
	  <img src="images/hotDeals.jpg" width="300" height="250" />
	</div>
	
	<div class="receipe">
	<div class="rBlock">Top Receipe</div>
	   <div class="rMid">
	     <ul>
		   <li class="rfadeSdw">
		    <div class="rIcon"> <img src="images/receiPic.jpg" width="109" height="63" /></div>
			<h1>Dry fruits specila choclates</h1>
			<p>lorem ipsum dolor amit set heading dummy orem ipsum dolor amit set</p>
			<p>+ <a href="#">more</a></p>
		   </li>
		   
		   <li>
		    <div class="rIcon"> <img src="images/receiPic.jpg" width="109" height="63" /></div>
			<h1>Dry fruits specila choclates</h1>
			<p>lorem ipsum dolor amit set heading dummy orem ipsum dolor amit set</p>
			<p>+ <a href="#">more</a></p>
		   </li>
		   
		 </ul>
	   </div>
	</div>
	<div class="receipeShadow"></div>
	
	<div class="moments">
	   <div class="mBlock">
	     <ul class="mTabs">
		   <li><a href="#">Share your moments</a></li>
		   <li><a href="#">Articles</a></li>
		 </ul>
	   </div>
	   <div class="momentsData">
	     <ul class="mData">
		   <li>
		     <div class="mPic"></div>
			 <div class="mPicData">
			   <h1>Dry fruits specila choclates</h1>
			   <p>lorem ipsum dolor amit set heading dummy orem ipsum dolor amit set</p>
			   <p>+ <a href="#">more</a></p>
			 </div>
		   </li>
		   
		   <li>
		     <div class="mPic"></div>
			 <div class="mPicData">
			   <h1>Dry fruits specila choclates</h1>
			   <p>lorem ipsum dolor amit set heading dummy orem ipsum dolor amit set</p>
			   <p>+ <a href="#">more</a></p>
			 </div>
		   </li>
		   
		 </ul>
		 <div class="flexi"></div>
	   </div>
	</div>
	
	<div class="advB">
	    <img src="images/advB.jpg" width="300" height="250" />
	  </div>
	  
	  <div class="fb"><img src="images/fbFans.jpg" width="298" height="200" /></div>
	
  </div>
  <div class="flexi"></div>
</div>
<!--Adv Banner here-->
<div class="bAdvBanner"><img src="images/bottomBanner.jpg" width="728" height="90" /></div>

<!--fotter start here-->
<div class="fotter">
  <div class="fMid"></div>
</div>
</body>
</html>
